<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=UTF-8">
    <title> restful client</title>
    <link href="naur.message.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/core/require.js"></script>
    <script type="text/javascript" src="/js/core/require.config.js"></script>

    <script type="text/javascript">
        var xmlDoc = null;
        function validRequest(success, delegate) {
            $.message.empty();
            //$('#go').attr('disabled', true);
            if ($('#uri').val().length <= 0) {
                $.message.show({content:'URL 不能为空！', color:'red'});
                $('#go').attr('disabled', false);
                return;
            }
            $.message.show({content:$("input[name=method]:radio:checked").val() + ' ' + $('#uri').val()});
            $.httpRequest({
                uri:$('#uri').val(),
                method:$("input[name=method]:radio:checked").val(),
                contentType:$("input[name=content-type]:radio:checked").val(),
                body:($('#body').val().length > 0 ? $('#body').val() : null),
                changed:function (obj) {
                    $.message.show({content:'State: ' + obj.state + ', ' + obj.http.status + ' ' + obj.http.statusText});
                    $('#go').attr('disabled', false);
                },
                htmlParser:{delegate:delegate},
                success:success,
                error:function (ex) {
                    $.message.show({content:'Error: ' + ex.state + ', ' + ex.http.status + ' ' + ex.http.statusText, color:'red'});
                    $('#go').attr('disabled', false);
                }
            });
        }

        $(function () {
            $('article section:eq(1)').message({placement:'append'});
            $('#go').on('click', function () {
                validRequest(function (obj) {
                    $.message.showLine({content:'------------- Response ---------------', datehide:true});
                    xmlDoc = obj.xmlDocument;
                    $('#go').attr('disabled', false);
                },function (option) {
                    option.content = option.content.replace(/null/gi, '<span style="color:red">null</span>');
                    $.message.show(option);
                });
            });
            $('#Save').on('click', function () {
                if (!xmlDoc) {
                    $.message.empty();
                    $.message.show({content:'xmlDoc 不能为空！', color:'red'});
                    return;
                }
                var win = window.open('', '', 'top=10000,left=10000');
                win.document.open('content-type: text/xml');
                win.document.write(xmlDoc.xml);
                win.document.execCommand('SaveAs', '', 'file.xml')
                win.close();
            });
            $('#Header').on('click', function () {
                validRequest(function (obj) {
                    $.message.show({content:obj.http.getAllResponseHeaders().replace(/\r\n/g, '<br />'), datehide:true, color:'orangered'});
                });
            });
        });
    </script>


    <style type="text/css">

        .overlay {
            position: fixed;
            z-Index: 80000;
        }

        .overlay-right {
            right: 0;
            opacity: 1.0;
            background: rgba(255, 255, 255, 0.8);
            padding: 0;
            top: 0;
        }

        #go {
            width: 80px;
            height: 60px;
            font-size: 26px;
        }

        fieldset {
            margin: 2px;
            font-size: 15px;
        }

        #uri {
            width: 800px;
            margin: 2px;
        }

        #body {
            margin: 2px;
            width: 800px;
            height: 120px;
            color: green;
        }

            /*#message {height: 400px; width: 100%;background:silver; color: #A22E00;}*/

    </style>
</head>
<body>


<header></header>
<nav></nav>

<article>
    <section>
        <fieldset>
            <legend>Method, Content-Type</legend>
            {<input type="radio" value="GET" name="method"/> GET
            <input type="radio" value="POST" checked="checked" name="method"/> POST }
            <input type="radio" value="application/xml" name="content-type" /> application/xml
            <input type="radio" value=" application/json" name="content-type" checked="checked"/> application/json
            <input type="radio" value="application/xml" name="content-type"/> text/xml
            <input type="radio" value="text/json" name="content-type"/> text/json
        </fieldset>

        <input type="text" id="uri" tabindex='1' value=""/>
        <input type="button" id="Header" value=" Header " tabindex='4'/><br/>
        <textarea id="body" tabindex='2'>

        </textarea><br/>
        <hr/>
    </section>
    <section>
        <!--<textarea id="message"></textarea>-->
    </section>
</article>

<aside>
    <section class="overlay overlay-right">
        <section>
            <figure>
                <input type="button" id="go" value=" Go " tabindex='3'/><br/><br/>
                <input type="button" id="Save" value=" Save " tabindex='4'/><br/>
            </figure>
        </section>
    </section>
</aside>


<footer></footer>

<section>

</section>


</html>