$!{extends("/layout.html")}

#macro(title) Diagnostic #end

#macro(content)

<div class="row">
    <div class="col-md-12"></div>
</div>
<div class="row">
    <div class="col-md-12"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="session">Session</button>
            <button type="button" class="btn btn-default" id="analysis">Analysis</button>
        </div>
    </div>
</nav>

<script type="text/javascript" src="/js/diagnostic-view.js"></script>

#end

