$!{extends("/layout.html")}

#macro(title) Research Analysis Techniques #end

#macro(content)

<link href="/css/mathquill.css" rel="stylesheet" type="text/css"/>
<link href="/css/naure.ui.overlay.css" rel="stylesheet" type="text/css"/>
<link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>

<div class="row">
    <div class="col-md-12">
        <article>
            <section></section>
            <section></section>
        </article>
    </div>
</div>

<!--&lt;!&ndash;[if IE]>-->
<!--<script type="text/javascript" src="/js/arbor/hermetic.js"></script>-->
<!--<script type="text/javascript" src="/js/arbor/physics/worker.js"></script>-->
<!--<![endif]&ndash;&gt;-->
<script type="text/javascript" src="/js/research/algorithms-analysis.js"></script>

#end