* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Comic Sans MS';
    position: relative;
    /*overflow: hidden;*/
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 11px;
}

aside section, aside figure, aside figcaption {
    display: block;
}

article section {
    position: absolute;
    float: left;
}

article section:last-child {
    /*left: 300px;*/
}

.overlay {
    position: fixed;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;

    z-Index: 80000;
    color: black;
    opacity: 0.8;
    padding: 4px;
    background: #eee;
}

.overlay .button {
    cursor: default;
    readonly: true;
    text-wrap: normal;
}

.overlay-right {
    right: 0;
    opacity: 1.0;
    background: rgba(255, 255, 255, 0.8);
    padding: 0;
    top: 0
}

.overlay-right section {
    list-style: none;
    /*width: 300px;*/
    min-width: 160px;
}

.overlay-right section figure {
    border-bottom: 1px solid #444;
    vertical-align: center;
    /*min-height: 20px;*/
    position: relative;
}

.overlay-right section figure figcaption {
    text-align: center;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    /*padding-top: 8px;*/
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.85);
    background: url(/images/sw.png) repeat-x;
    margin-right: 3px;
}

.overlay-right section figure:last-child figcaption {
    border-bottom: none;
}

.overlay-right section figure:only-child .delete {
    display: none;
}

.overlay-right section figure .matheditor {
    margin-top: 5px;
    margin-left: 38px;
    margin-bottom: 4px;
}

.overlay-right section aside {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    padding-bottom: 2px;
    color: #888;
    padding-right: 4px;
}

.overlay-right section aside:before {
    background: url(/images/buttons.png) -62px -21px no-repeat;
    display: block;
    width: 20px;
    float: left;
    color: rgba(0, 0, 0, 0.0);
    content: "!";
}

li:hover .delete {
    visibility: visible
}

.delete {
    background: url(/images/buttons.png) no-repeat;
    width: 20px;
    visibility: hidden;
    height: 21px;
    background-position: -30px -21px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    margin: 8px;
    cursor: pointer;
}


.delete:hover {
    opacity: 1.0;
}

#con {
    top: 0;
    left: 0;
    background: white;
    font-size: small;
    padding: 8px;
    border: 8px solid #eee;
    opacity: 0.97;
}

input[type=button]:hover, a.help_button:hover {
    opacity: 1.0;
}

input[type=button] {
    background: url(/images/buttons.png);
    border: none;
    opacity: 0.7;
    width: 30px;
    height: 21px;
    color: rgba(0, 0, 0, 0.0);
    margin-left: 4px;
    margin-top: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}

h3 {
    text-align: center;
    padding-top: 1em
}

.buttons {
    position: relative;
    border-top: 1px solid #ececec;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(194, 194, 194, 0.8)), color-stop(1, rgba(239, 239, 239, 0.8)));
    background-image: -moz-linear-gradient(center bottom, rgba(194, 194, 194, 0.8) 0%, rgba(239, 239, 239, 0.8) 100%);
    background-color: #e8e8e8;
}

.buttons a {
    text-decoration: none;
    display: block;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

a.help_button {
    background: url(/images/buttons.png);
    border: none;
    opacity: 0.7;
    width: 30px;
    height: 21px;
    color: rgba(0, 0, 0, 0.0);
    margin-left: 4px;
    margin-top: 3px;
    margin-bottom: 4px;
    background-position: 0px 42px;
    margin-right: 6px;
    right: 34px;
}

input.minimize {
    background: url(/images/buttons.png);
    border: none;
    opacity: 0.7;
    width: 30px;
    height: 21px;
    color: rgba(0, 0, 0, 0.0);
    margin-left: 4px;
    margin-top: 3px;
    margin-bottom: 4px;
    background-position: 60px 0px;
    margin-right: 6px;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
}

input[value=".png"] {
    background-position: 30px 0px;
}

input[value=">_"] {
    background-position: 60px 0px;
}

input[value="reload"] {
    background-position: 0px 21px;
}

input[value="config"] {
    background-position: -30px 21px;
}

/*Mathquill overrides*/
.mathquill-editable {
    border: none !important;
}

.mathquill-editable .selection.blur, .mathquill-editable .selection.blur .mathquill-rendered-math, .mathquill-editable .selection.blur sup, .mathquill-editable .selection.blur sub {
    background: none !important;
}
