* {
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.overlay {
    font-size: 11px;
    font-family: 'Comic Sans MS';
    /*absolute: 生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。 元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。*/
    /*fixed:生成绝对定位的元素，相对于浏览器窗口进行定位。元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。*/
    /*relative: 生成相对定位的元素，相对于其正常位置进行定位。 因此，"left:20" 会向元素的 LEFT 位置添加 20 像素。*/
    /*static: 默认值。没有定位，元素出现在正常的流中（忽略 top, bottom, left, right 或者 z-index 声明）。*/
    /*inherit:规定应该从父元素继承 position 属性的值。*/
    position: fixed;
    display: block;
    /*position: fixed;*/
    color: black;
    padding: 4px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    z-Index: 80000;
    opacity: 0.9;
    text-align: center;
    /*font-size: 12px;*/
}

.overlay-pile {
    -webkit-box-shadow: 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px black;
    -o-box-shadow: 0px 0px 0px black;
    box-shadow: 0px 0px 0px black;
    box-shadow: 0px 0px 0px black;
    z-Index: 80000;
    opacity: 0.2;
}

.overlay-right {
    right: 0;
    /*opacity: 0.5;*/
    padding: 0;
    top: 0;
}

.overlay-right-bottom {
    float: right;
    right: 0;
    /*opacity: 0.5;*/
    padding: 0;
    bottom: 0;
}

.overlay section {
    list-style: none;
    /*width: 300px;*/
    min-width: 100px;
}

.overlay section:last-child {
    padding: 4px;
}

/*.overlay section aside {*/
/*position: absolute;*/
/*bottom: 0;*/
/*right: 0;*/
/*font-size: small;*/
/*padding-bottom: 2px;*/
/*color: #888;*/
/*padding-right: 4px;*/
/*}*/

/*.overlay section aside:before {*/
/*background: url(/images/buttons.png) -62px -21px no-repeat;*/
/*display: block;*/
/*width: 20px;*/
/*float: left;*/
/*color: rgba(0, 0, 0, 0.0);*/
/*content: "!";*/
/*}*/

.overlay section figure {
    border-bottom: 1px solid #444;
    vertical-align: center;
    /*min-height: 20px;*/
    position: relative;
}

.overlay section figure figcaption {
    text-align: center;
    margin: 4px;
    /*position: absolute;*/
    /*display: inline-block;*/
    /*padding-top: 8px;*/
    /*border-top: 0px rgba(255, 255, 255, 0.4);*/
    /*border-left: 0px rgba(255, 255, 255, 0.7);*/
    /*border-right: 0px rgba(0, 0, 0, 0.7);*/
    /*border-bottom: 0px rgba(0, 0, 0, 0.4);*/
    /*每一项的背景*/
    /*background: url(/images/sw.png) repeat-x;*/
    /*border-bottom: none;*/
}

.overlay section figure figcaption .node {
    cursor: pointer;
    readonly: true;;
    text-wrap: normal;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    /*font-size: 115%;*/
    /*display: -moz-inline-box;*/
    /*display: inline-block;*/
    white-space: pre-wrap;
    margin: 3px 5px;
    min-height: 30px;
    /*float:left;*/
}

.panel-left {
    float: left;
    left: 0;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.panel-right {
    float: right;
    right: 0;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.panel-center {
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.overlay section figure:only-child .delete {
    display: none;
}

.panel-left-hide, .panel-right-hide {
    width: 0px;
    visibility: collapse;
}

.overlay li:hover .delete {
    visibility: visible
}

.overlay .delete {
    background: url(/images/buttons.png) no-repeat;
    width: 20px;
    visibility: hidden;
    height: 21px;
    background-position: -30px -21px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    margin: 8px;
    cursor: pointer;
}

.overlay .delete:hover {
    opacity: 1.0;
}

.overlay input[type=button] {
    background: url(/images/buttons.png);
    border: none;
    opacity: 0.7;
    width: 30px;
    height: 21px;
    color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    text-decoration: none;
}

.overlay input[type=button]:hover, .overlay a:hover {
    opacity: 1.0;
}

.overlay .buttons {
    position: relative;
    border-top: 1px solid #ececec;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(194, 194, 194, 0.8)), color-stop(1, rgba(239, 239, 239, 0.8)));
    background-image: -moz-linear-gradient(center bottom, rgba(194, 194, 194, 0.8) 0%, rgba(239, 239, 239, 0.8) 100%);
    background-color: #e8e8e8;
    text-align: left;
}

.overlay .buttons a {
    background: url(/images/buttons.png);
    border: none;
    opacity: 0.7;
    width: 30px;
    height: 21px;
    color: rgba(0, 0, 0, 0.0);
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
}

.overlay a.help_button {
    background-position: 0px 42px;
}

.overlay input.overlay-minimize {
    background-position: 60px 0px;
    position: absolute;
    right: 4px;
}

/*.overlay input[value=".png"] {*/
/*background-position: 30px 0px;*/
/*}*/

/*.overlay input[value=">_"] {*/
/*background-position: 60px 0px;*/
/*}*/

/*.overlay input[value="reload"] {*/
/*background-position: 0px 21px;*/
/*}*/

/*.overlay input[value="config"] {*/
/*background-position: -30px 21px;*/
/*}*/
