<!DOCTYPE html>
<html>
<head>
    <title>Examples : uploadify</title>
    <link rel="stylesheet" type="text/css" href="/js/uploadify/uploadify.css"/>
    <link rel="stylesheet" type="text/css" href="/css/naure.message.css"/>
    <link rel="stylesheet" type="text/css" href="/css/upload.css"/>
    <!--<script type="text/javascript" src="http://www.google.com/jsapi"></script>-->
    <!--<script type="text/javascript">-->
    <!--google.load("jquery", "1.6.4");-->
    <!--</script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="/js/uploadify/swfobject.js" type="text/javascript"></script>
    <script src="/js/uploadify/jquery.uploadify.v2.1.4.js" type="text/javascript"></script>

    <script src="/js/ajaxslt.js" type="text/javascript"></script>
    <script src="/js/naure.utility.js" type="text/javascript"></script>
    <script src="/js/naure.xsl.js" type="text/javascript"></script>
    <script src="/js/naure.message.js" type="text/javascript"></script>

    <script src="/js/upload.js" type="text/javascript"></script>
</head>
<body>
<div class="contentarea">

    <div class="fileuploadbox">
        <input id="fileupload" type="file" name="Filedata"/>
        <br/>

        <p>
            <a id="uploadfile" href="javascript:$('#fileupload').uploadifyUpload()">上传文件</a>
            <a id="makeorder" href="">处理文件</a>
            <a style="display: none;" id="template">下载模板</a>
        </p>
        <br/>
        <hr/>
    </div>

</div>
</body>
</html>