<!DOCTYPE html>
<html>
<head>
    <title> Diagnostic </title>

    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/defaulttablestyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/oop.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/js/jquery.utils.js"></script>
    <script type="text/javascript" src="/js/ajaxslt.js"></script>
    <script type="text/javascript" src="/js/naure.init.js"></script>
    <script type="text/javascript" src="/js/naure.ui.templet.js"></script>
    <script type="text/javascript" src="/js/naure.utility.js"></script>
    <script type="text/javascript" src="/js/naure.message.js"></script>
    <script type="text/javascript" src="/js/naure.overlay.js"></script>
    <script type="text/javascript" src="/js/naure.xsl.js"></script>

    <script type="text/javascript" src="/js/diagnostic-view.js"></script>

</head>
<body></body>
</html>
