<!DOCTYPE html>
<html>
<head>
    <title> Diagnostic </title>

    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/defaulttablestyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/require.config.js"></script>

    <script type="text/javascript" src="/js/diagnostic-view.js"></script>

</head>
<body>
<article>
    <section></section>
    <section></section>
</article>
</body>
</html>
