<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="http://cdn.naure.org/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.naure.org/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://cdn.naure.org/js/core/require.js"></script>
    <script type="text/javascript" src=""></script>
    <script>
        require.config({
            paths: {
                'jquery': 'http://code.jquery.com/jquery-2.1.0.min',
                'jquery.strings': 'http://cdn.naure.org/js/core/jquery.strings',
                'oop': 'http://cdn.naure.org/js/core/oop',
                'naure': 'http://cdn.naure.org/js/core/naure',
                'naure.utility': 'http://cdn.naure.org/js/core/naure.utility',
                'naure.message': 'http://cdn.naure.org/js/core/naure.message',
                'naure.http.xmlhttp': 'http://cdn.naure.org/js/core/naure.http.xmlhttp'
            },
            shim: {
                'jquery.strings': ['jquery']
            }
        });

        //Open	High	Low	Close	Volume, EPS
        var global = {
            http: null, message: null, isShow: false, clock: null, interval: 5000,
            stocks: [
                ['*', 2200, 7.320, '600265', 'sh'],
                ['*', 2500, 3.980, '000509', 'sz'],
                ['', 1500, 6.647, '000711', 'sz'],
                ['', 1000, 8.321, '000803', 'sz'],
                ['', 2100, 7.257, '002072', 'sz'],
                ['', 600, 10.627, '002425', 'sz']
            ],
            stockHtmlTemplate: '<tr class="{5}" stock="{4}{3}"><td style="display: none" class="name">{0}</td><td class="number">{1}</td><td class="cost">{2}</td><td class="code">{3}</td><td></td></tr>',
            stockUri: 'http://hq.sinajs.cn/list=',
            dom: {
                message: '#message',
                stocksContainer: '#stocks-container',
                stocks: '#stocks-container tr'
            }
        };

        function getStockInfo(codes) {
            global.http.request({uri: global.stockUri + codes.toString(),
                success: function (obj) {
                    eval(obj.output.replace(/var hq_str_/g, 'global.'));

                    var stockRealtime;
                    for (var index in codes) {
                        stockRealtime = global[codes[index]].split(',');
                        $(global.dom.stocks + '[stock="' + codes[index] + '"]').children().each(function (index) {
                            if (!global.isShow) return;
                            if (4 == index) $(this).html(stockRealtime[0] + global.clock);
                        });
                    }
                    global.message({content: 'clock: ' + clock + stockRealtime.pop() + stockRealtime.pop()});
                    global.clock = setTimeout('getStockInfo(global.stocks.codes)', global.interval);
                }, error: function () {
                    global.clock = setTimeout('getStockInfo(global.stocks.codes)', global.interval);
                }});
        }

        function init(stocks) {
            var codes = [];
            var html = '';
            for (var index in stocks) {
                if (!stocks.hasOwnProperty(index)) continue;
                html += $.format(global.stockHtmlTemplate, stocks[index][0], stocks[index][1], stocks[index][2], stocks[index][3], stocks[index][4], index % 2 == 0 ? '' : 'tdeven');
                codes.push(stocks[index][4] + stocks[index][3]);
            }
            stocks.html = html;
            stocks.codes = codes;
        }

        require(['jquery', 'jquery.strings', 'naure.http.xmlhttp', 'naure.message'], function ($, $1, NAURE) {
            global.http = NAURE.HTTP;
            global.message = NAURE.Message;
            $('body').message({overlay: 'left-bottom', multiple: false});
            init(global.stocks);
            $(function () {
                $(global.dom.stocksContainer).html(global.stocks.html);
                $(document).on('keyup', function (event) {
                    var ev = document.all ? window.event : event;
                    if (ev.keyCode == 82) {
                        getStockInfo(global.stocks.codes);
                    }
                });

                global.clock = setTimeout('getStockInfo(global.stocks.codes)', 5000);
            });
        });
    </script>
    <style>
        thead {
            display: none;
        }
    </style>
</head>
<body>
<table rules="rows">
    <colgroup align="right" style="color:#0000FF;"></colgroup>
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody id="stocks-container">
    </tbody>
</table>
</body>
</html>
