<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="http://cdn.naure.org/css/default.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://cdn.naure.org/js/core/require.js"></script>
    <script type="text/javascript" src=""></script>
    <script>
        require.config({
            paths: {
                'jquery': 'http://code.jquery.com/jquery-2.1.0.min',
                'jquery.strings': 'http://cdn.naure.org/js/core/jquery.strings',
                'naure': 'http://cdn.naure.org/js/core/naure',
                'naure.http.xmlhttp': 'http://cdn.naure.org/js/core/naure.http.xmlhttp'
            },
            shim: {
                'jquery.strings': ['jquery']
            }
        });

        //Open	High	Low	Close	Volume, EPS
        var global = {
            http: null, isShow: false, clock: null,
            stocks: [
                ['*', 2200, 7.320, '600265', 'sh'],
                ['*', 2500, 3.980, '000509', 'sz'],
                ['', 1500, 6.647, '000711', 'sz'],
                ['', 1000, 8.321, '000803', 'sz'],
                ['', 2100, 7.257, '002072', 'sz'],
                ['', 600, 10.627, '002425', 'sz']
            ],
            stockHtmlTemplate: '<tr class="{5}" stock="{4}{3}"><td style="display: none" class="name">{0}</td><td class="number">{1}</td><td class="cost">{2}</td><td class="code">{3}</td><td></td></tr>',
            stockUri: 'http://hq.sinajs.cn/list=',
            dom: {
                stocksContainer: '#stocks-container',
                stocks: '#stocks-container tr'
            }
        };

        function getStockInfo(codes) {
            global.http.request(global.stockUri + codes.toString(), function (obj) {
                eval(obj.output.replace(/var hq_str_/g, 'global.'));

                var stockRealtime;
                for (var index in codes) {
                    stockRealtime = global[codes[index]].split(',');
                    $(global.dom.stocks + '[stock="' + codes[index] + '"]').children().each(function (index) {
                        if (!global.isShow) return;
                        if (4 == index) $(this).html(stockRealtime[0] + global.clock);
                    });
                }
                global.clock = setTimeout('getStockInfo(global.stocks.codes)', 5000);
            }, function () {
                global.clock = setTimeout('getStockInfo(global.stocks.codes)', 5000);
            });
        }

        //        function request(uri, success, error, changed) {
        //            var opt = {
        //                uri: uri,
        //                contentType: 'text',
        //                method: 'GET',
        //                async: false,
        //                success: success,
        //                error: error,
        //                changed: changed,
        //                onStateChange: function () {
        //                    if (opt.xmlhttp.readyState < 3) return;
        //                    if (opt.changed)
        //                        opt.changed({state: opt.xmlhttp.readyState, http: opt.xmlhttp});
        //
        //                    if (opt.xmlhttp.readyState == 4) {
        //                        if (opt.xmlhttp.status == 200) {
        //                            if (opt.success)
        //                                opt.success({output: opt.xmlhttp.responseXML && opt.xmlhttp.responseXML.text.length > 0 ?
        //                                        opt.xmlhttp.responseXML :
        //                                        opt.xmlhttp.responseText,
        //                                    http: opt.xmlhttp, context: opt.context});
        //                        }
        //                        else {
        //                            if (opt.error)
        //                                opt.error({state: opt.xmlhttp.readyState, http: opt.xmlhttp, context: opt.context});
        //                        }
        //                    }
        //                }
        //            };
        //            opt.xmlhttp = createRequest();
        //            if (opt.xmlhttp != null) {
        //                //netscape.security.PrivilegeManager.enablePrivilege("UniversalBrowserRead");
        //                opt.xmlhttp.onreadystatechange = opt.onStateChange;
        //                opt.xmlhttp.open(opt.method, opt.uri, opt.async);
        //                opt.xmlhttp.setRequestHeader("Cache-Control", "no-cache, must-revalidate");
        //                opt.xmlhttp.setRequestHeader("If-Modified-Since", "0");
        //                opt.xmlhttp.setRequestHeader("Content-Type", opt.contentType);
        //                opt.xmlhttp.send(null);    //"name=guestuser&Passwd=111111"
        //                //if ($.browser.mozilla)
        //                //opt.xmlhttp.onreadystatechange = opt.stateChange;
        //            } else {
        //                window.console.log('Your browser does not support XMLHTTP.');
        //            }
        //        }

        function init(stocks) {
            var codes = [];
            var html = '';
            for (var index in stocks) {
                if (!stocks.hasOwnProperty(index)) continue;
                html += $.format(global.stockHtmlTemplate, stocks[index][0], stocks[index][1], stocks[index][2], stocks[index][3], stocks[index][4], index % 2 == 0 ? '' : 'tdeven');
                codes.push(stocks[index][4] + stocks[index][3]);
            }
            stocks.html = html;
            stocks.codes = codes;
        }

        require(['jquery', 'jquery.strings', 'naure.http.xmlhttp'], function ($, $1, http) {
            global.http = http;
            init(global.stocks);
            $(function () {
                $(global.dom.stocksContainer).html(global.stocks.html);
                $(document).on('keyup', function (event) {
                    var ev = document.all ? window.event : event;
                    if (ev.keyCode == 82) {
                        getStockInfo(global.stocks.codes);
                    }
                });

                global.clock = setTimeout('getStockInfo(global.stocks.codes)', 5000);
            });
        });
    </script>
    <style>
        thead {
            display: none;
        }
    </style>
</head>
<body>
<table rules="rows">
    <colgroup align="right" style="color:#0000FF;"></colgroup>
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody id="stocks-container">
    </tbody>
</table>
</body>
</html>
