$!{extends("/layout.html")}

#macro(title) house #end

#macro(content)

<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>

<script type="text/javascript">
    var global = {
        map: null,
        marker: null,
        geocoder: null,
        //经度：114.38484,  维度：30.478435
        // 北京：39.904214, 116.40741300000002);
        center: new google.maps.LatLng(13.72789, 100.52412),
        points: [
            {point: new google.maps.LatLng(13.74998, 100.49199), name: '大皇宫'},
            {point: new google.maps.LatLng(13.74706, 100.49313), name: '卧佛寺'},
            {point: new google.maps.LatLng(13.75129, 100.49256), name: '玉佛寺'},
            {point: new google.maps.LatLng(13.74354, 100.48738), name: '郑王庙'},
            {point: new google.maps.LatLng(13.70405, 100.50341), name: 'Asiatique河边夜市'},
//                    {point: new google.maps.LatLng(13.478435, 100.38484), name: 'maeKong美攻铁路市场'},
//                    {point: new google.maps.LatLng(13.478435, 100.38484), name: '安帕瓦水上市场'},
//                    {point: new google.maps.LatLng(13.478435, 100.38484), name: 'chatuchak周末市场'},
//                    {point: new google.maps.LatLng(13.478435, 100.38484), name: 'lifemuseum死体博物馆'},
            {point: new google.maps.LatLng(18.81639, 98.89195), name: '素贴山'},
            {point: new google.maps.LatLng(18.80554, 98.95308), name: '清迈大学'},
//                    {point: new google.maps.LatLng(13.478435, 100.38484), name: '宁曼路'},
//                    {point: new google.maps.LatLng(13.478435, 100.38484), name: '契迪龙寺'}
        ]
    };

    function init() {
        var myOptions = {
            zoom: 14,
            center: global.center,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        global.map = new google.maps.Map(document.getElementById("map"), myOptions);

        //google.maps.Marker
        for (var index in global.points) {
            var mapLabel = new MapLabel({
                text: points[index].name,
                map: global.map,
                position: global.points[index].point,
                fontSize: 18,
                align: 'right',
                title: '您当前所在的位置\r\n经度：' + global.points[index].point.lng() + '\r\n维度： ' + global.points[index].point.lat()
            });
            var marker = new google.maps.Marker;
            marker.bindTo('map', mapLabel);
            marker.bindTo('position', mapLabel);
        }

        global.geocoder = new google.maps.Geocoder();
    }

    require(['loading', 'research-template', 'google.maps'], function (NAURE) {
        google.maps.event.addDomListener(window, 'load', init);

        $(function () {
        });
    });
</script>

#end
