$!{extends("/layout.html")}

#macro(title)Naure.org Research#end

#macro(content)

<div class="page">
    <!--Menusdemo-->
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="element">Naure.org</span>
            <span class="divider"></span>
            <ul class="menu"></ul>
        </div>
    </div>

    <div class="page">
        <div class="page-header">
            <div class="page-header-content">
                <div class="card joker"></div>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                <div class="grid">
                    <div class="row">
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                    </div>
                    <div class="row">
                        <div class="span10">
                            <div class="page snapped">
                                { Left }
                            </div>
                            <div class="page fill">
                                { Right }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span7"></div>
                        <div class="span2">
                            <div class="calendar" data-role="calendar" data-param-lang="en"></div>
                        </div>
                        <div class="span1">
                            <!--personal information-->
                            <div class="tile double bg-color-green">
                                <div class="tile-content">
                                    <img width="80" class="place-right"
                                         src="/images/me.jpg">
                                    <h4 style="margin-bottom: 5px;">NAURE</h4>

                                    <p>
                                        #_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#
                                    <h5>RT @Naure</h5>

                                    <p></p>
                                </div>
                                <div class="brand">
                                    <span class="name">naur@live.cn</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!--<div class="app-bar">-->

    <!--</div>-->
</div>

<script type="text/javascript">
    var global = {
    };
    require(['loading'], function (NAURE) {
        $(function () {
        });
    });
</script>

#end

