<!DOCTYPE html>
<html>
<head>
    <title> Naure.org Research </title>
    <script id="menuTemplate" type="text/x-jsrender">
        {{if type}}
        <li data-role="{{:type}}">
            <a href="{{:uri}}">{{:name}}</a>
            <ul class="{{:type}}-menu">
                {{for nodes tmpl='#menuTemplate'/}}
            </ul>
        </li>
        {{else}}
        <li><a href="{{:uri}}">{{:name}}</a></li>
        {{/if}}
    </script>
</head>
<body class="metrouicss">

<div class="page">
    <!--Menusdemo-->
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="element">Naure.org</span>
            <span class="divider"></span>
            <ul class="menu"></ul>
        </div>
    </div>

    <div class="page">
        <div class="page-header">
            <div class="page-header-content">
                <div class="card joker"></div>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                <div class="grid">
                    <div class="row">
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                        <div class="span1"></div>
                    </div>
                    <div class="row">
                        <div class="span10">
                            <div class="page snapped">
                                { Left }
                            </div>
                            <div class="page fill">
                                { Right }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span7"></div>
                        <div class="span2">
                            <div class="calendar" data-role="calendar" data-param-lang="en"></div>
                        </div>
                        <div class="span1">
                            <!--personal information-->
                            <div class="tile double bg-color-green">
                                <div class="tile-content">
                                    <img width="80" class="place-right"
                                         src="/images/me.jpg">
                                    <h4 style="margin-bottom: 5px;">NAURE</h4>

                                    <p>
                                        #_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#_#
                                    <h5>RT @Naure</h5>

                                    <p></p>
                                </div>
                                <div class="brand">
                                    <span class="name">naur@live.cn</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="app-bar">

    </div>
</div>


<script type="text/javascript" data="script"
        src="/js/core/load.js"></script>
<script type="text/javascript">
    require(['jquery', 'jquery.template', 'modern.dropdown', 'modern.calendar', 'naure.analytics'], function ($) {
        $(function () {
            $.get("/resources/menu.json", function (result) {
                $(".menu").html(
                        $("#menuTemplate").render($.parseJSON(result))
                );
                $('[data-role="dropdown"]').each(function () {
                    $(this).Dropdown();
                })
                $('.pull-menu, .menu-pull').each(function () {
                    $(this).PullDown();
                })
            });
        });
    });
</script>


</body>
</html>