<!DOCTYPE html>
<html>
<head>
    <title>Examples : uploadify</title>
    <link rel="stylesheet" type="text/css" href="/Research/projects/research/naure-integrate/src/main/webapp/js/uploadify/uploadify.css"/>
    <link rel="stylesheet" type="text/css" href="/Research/projects/research/naure-integrate/src/main/webapp/css/naure.message.css"/>
    <link rel="stylesheet" type="text/css" href="/Research/projects/research/naure-integrate/src/main/webapp/css/upload.css"/>

    <script type="text/javascript" src="/Research/projects/research/naure-integrate/src/main/webapp/js/require.js"></script>
    <script type="text/javascript" src="/Research/projects/research/naure-integrate/src/main/webapp/js/require.config.js"></script>
    <script type="text/javascript" src="/Research/projects/research/naure-integrate/src/main/webapp/js/upload.js"></script>

</head>
<body>
<div class="contentarea">

    <div class="fileuploadbox">
        <input id="fileupload" type="file" name="Filedata"/>
        <br/>

        <p>
            <a id="uploadfile" href="javascript:$('#fileupload').uploadifyUpload()">上传文件</a>
            <a id="makeorder" href="">处理文件</a>
            <a style="display: none;" id="template">下载模板</a>
        </p>
        <br/>
        <hr/>
    </div>

</div>
</body>
</html>