$!{extends("/layout.html")}

#macro(title) itody.org Scheduler #end

#macro(css)
<style type="text/css">
    .row_options {
        width: 350px;
    }
</style>
#end

#macro(content)

<div class="row">

    <!--左边是列表-->
    <div class="col-md-10"></div>

    <!--右边是查询条件-->
    <div class="col-md-2">

        <div class="input-group">
            <span class="input-group-addon">
                <input title="realtime" alt="realtime" id="realtime" type="checkbox" checked="checked"/>
            </span>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="start">Start</button>
                <button type="button" class="btn btn-default" id="search">Search</button>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="/js/scheduler.js"></script>

#end

