<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> Finance </title>
<link href="/css/default.css" rel="stylesheet"
      type="text/css"/>
<link href="/css/naure.message.css" rel="stylesheet"
      type="text/css"/>
<style type="text/css">
    a {
        display: block;
    }
</style>

<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript"
        src="/js/require.config.js"></script>
<script type="text/javascript"
        src="/js/math-number.js"></script>

</head>
<body>

<article>
<section class="layout-left">
</section>
<section class="layout-right">
    <textarea id="params" rows="10" cols="70"></textarea>
    <br/>
    <a href="#" id="gcd-euclid">GCD: Euclid's algorithm</a>
    <a href="#" id="gcd-euclid-extended">GCD: The extended form of Euclid's algorithm</a>
</section>
</article>

</body>

</html>