$!{extends("/layout.html")}

#macro(title) Test #end

#macro(content)

<link rel="stylesheet" type="text/css" href="/js/core/uploadify/uploadify.css"/>
<style type="text/css">
    #jade_fileupload-queue {
        float: left;
        position: absolute;
        top: -10px;
        left: 140px;
        width: 500px;
    }
</style>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="jumbotron">

            <form class="navbar-form">
                <!--id-->
                <div class="input-group" style="display: none">
                    <span class="input-group-addon">图片ID</span>
                    <input type="text" class="form-control" placeholder="图片ID" id="jade_id"/>
                </div>
                <br/>
                <!--name-->
                <div class="input-group">
                    <span class="input-group-addon">图片名称</span>
                    <input type="text" class="form-control" placeholder="图片名称" id="jade_name"/>
                </div>
                <br/>
                <!--classify-->
                <div class="input-group">
                    <span class="input-group-addon">图片类别</span>
                    <input type="text" class="form-control" placeholder="类别" id="jade_classify"/>
                </div>
                <br/>
                <!--title-->
                <div class="input-group">
                    <span class="input-group-addon">图片标题</span>
                    <input type="text" class="form-control" placeholder="图片标题" id="jade_title"/>
                </div>
                <br/>
                <!--uri-->
                <div class="input-group">
                    <span class="input-group-addon">图片链接</span>
                    <input type="text" class="form-control" placeholder="图片链接" id="jade_uri"/>
                </div>

                <br/>
                <!--uri-->
                <div class="input-group">
                    <input type="file" name="filedata" id="jade_fileupload"/>
                </div>
                <br/>
                <!--description-->
                <div class="input-group">
                    <span class="input-group-addon">图片描述</span>
                    <input type="text" class="form-control" placeholder="图片描述信息" id="jade_description"/>
                </div>

                <br/><br/>

                <div class="btn-group btn-group-justified">
                    <button type="button" class="btn btn-default btn-group-sm" id="search">Search</button>
                    <button type="button" class="btn btn-default btn-group-sm" id="edit">Edit</button>
                    <button type="button" class="btn btn-default btn-group-sm" id="add">Add</button>
                </div>

            </form>

        </div>

    </div>

    <div class="col-md-2">
        <a href="#" class="thumbnail" id="jade_img_preview">
            <img data-src="holder.js/100%x180" alt="上传图片预览"/>
        </a>
        <br/>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"></div>
    <div class="col-md-1"></div>
</div>

<script type="text/javascript" src="/js/shoping/jade-edit.js"></script>

#end

