$!{extends("/layout.html")}

#macro(title) House #end

#macro(content)

<style type="text/css">
    .container-fluid {
        height: 90%;
        margin: -6px 0px -2px 0px;
        padding: 1px;
    }

    .fill {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .fill2 {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

</style>

<script type="application/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=D69d79d3237709943f2c2e06cc1db20a"></script>

<div class="row-fluid fill">
    <div class="col-md-12 fill">
        <div id="map" class="fill"></div>
    </div>
</div>

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<a target="_blank" href="http://guangguchuntianpa.fang.com"><h4><span class="label label-danger">保利清能西海岸</span>-->
<!--</h4></a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<a target="_blank" href="http://guangguchuntianpa.fang.com"><h4><span-->
<!--class="label label-danger">光谷北大资源.山水年华</span></h4></a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<a target="_blank" href="http://langshilicheng.fang.com"><h4><span class="label label-danger">朗诗里程</span></h4>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<a target="_blank" href="http://guangguchuntianpa.fang.com"><h4><span class="label label-danger">平安光谷春天</span>-->
<!--</h4></a>-->
<!--</div>-->
<!--</div>-->
<script type="text/javascript" src="/js/research/house.js"></script>

#end
