<html>
<head>
    <title> Research Heapsort </title>
    <link href="js/status/jquery.status.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.6.4");
    </script>
    <script type="text/javascript" src="js/status/jquery.status.js"></script>
    <script type="text/javascript" src="js/a.js"></script>
    <script type="text/javascript" src="js/core/naur.xsl.js"></script>
</head>
<body>
<input type="button" value=" Go ! "/>

<hr/>

<div id="resultxsl">

</div>


<div class="status">
    <span>Heapsort：</span>

    <div>
        <span id="message"></span>
    </div>
    <div class="feedback">
        <span>Run：</span>

        <div id="result">
        </div>
    </div>
</div>

<pre style="color: #000080;font-weight: 600;">
    2011年10月11日 9:37:02 -- BuildMaxHeapify: 5
    2011年10月11日 9:37:02 -- BuildMaxHeapify: 4
    2011年10月11日 9:37:02 -- 0,4,1,3,2,16,9,10,14,8,7 -- i: 4[2], largest: 8[14]
    2011年10月11日 9:37:02 -- 0,4,1,3,14,16,9,10,2,8,7
    2011年10月11日 9:37:02 -- BuildMaxHeapify: 3
    浏览器支持

    所有主流浏览器都支持 font-weight 属性。

    注释：任何的版本的 Internet Explorer （包括 IE8）都不支持属性值 "inherit"。

</pre>

</body>
</html>