<!DOCTYPE html>
<html>
<head>
    <title> Diagnostic </title>

    <link href="/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/defaulttablestyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/oop.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/js/jquery.utils.js"></script>
    <script type="text/javascript" src="/js/ajaxslt.js"></script>
    <script type="text/javascript" src="/js/naure.utility.js"></script>
    <script type="text/javascript" src="/js/naure.message.js"></script>
    <script type="text/javascript" src="/js/naure.overlay.js"></script>
    <script type="text/javascript" src="/js/naure.xsl.js"></script>

    <script type="text/javascript" src="http://dict.bing.com.cn/cloudwidget/Scripts/Generated/BingTranslate_Hover_Phrase_Selection_ShowIcon.js"></script>
    <script type="text/javascript" src="/js/eng-view.js"></script>

    <style>
        p {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>

<header></header>
<nav></nav>

<article>
    <section id="eng">
        cloud
        <span>cloud</span>
        &#215;
    </section>
    <section>
        <canvas width="800" height="600"></canvas>
    </section>
</article>

<aside>
</aside>


<footer></footer>

<section>
</section>

</body>
</html>
