<!DOCTYPE html>
<html>
<head>
    <title> Eng </title>

    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/defaulttablestyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/oop.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/jquery.utils.min.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/ajaxslt.js"></script>

    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.init.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.ui.templet.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.utility.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.message.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.overlay.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.xsl.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.http.js"></script>

    <!--<script type="text/javascript" src="http://dict.bing.com.cn/cloudwidget/Scripts/Generated/BingTranslate_Hover_Phrase_Selection_ShowIcon.js"></script>-->
    <!--<script type="text/javascript">-->
        <!--BingCW.Init({-->
            <!--AppID:"http://naure.org",-->
            <!--ContentArea:"eng-translate",-->
            <!--MachineTranslation:true,-->
            <!--WebDefinition:true-->
        <!--})-->
    <!--</script>-->

    <script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/eng-view.js"></script>

</head>
<body>
<article>
    <section></section>
    <section></section>
</article>

</div>
</body>
</html>
