<!DOCTYPE html>
<html>
<head>
    <title> Eng </title>

    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/defaulttablestyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/require.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/require.config.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/eng-view.js"></script>

</head>
<body>
<article>
    <section></section>
    <section></section>
</article>

</div>
</body>
</html>
