/*
 * Script：
 *              贾睿之
 * Email：
 *              jiaruizhi@360buy.com
 * Usage:
 *      $('.link_className').flyout({prompt: '采购单号'});
 */
/*.flyout_link:hover .flyout_panes {*/
/*display: block*/
/*}*/

.flyout_panes {
    display: none;
    /*absolute*/
    /*relative*/
    font: 14px, 'Microsoft YaHei';
    position: absolute;
    background-color: #FFCC7E;
    z-index: 110;
    width: 240px;
    min-height: 140px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1.4px solid #ccc;
    padding: 8px;
}

.flyout_panes div {
    /*background-color: #9acd32;*/
    margin: 8px 6px 6px 6px;
    float: left;
    display: inline;
}

.flyout_panes a {
    width: 18px;
    height: 18px;
    float: right;
    /*visibility: collapse;*/
    display: inline;
    background: url(images/message_close.png) no-repeat;
    background-size: contain;
}

.flyout_panes li span {
    float: left;
}

.flyout_panes li a {
    width: 20px;
    float: right;
    visibility: collapse;
    background: url(images/btn_close_out.png) no-repeat;
    /*vertical-align: bottom;*/
    background-size: contain;
}

.flyout_panes:hover {
    border-color: #999;
}

.flyout_panes input[type=text] {
}

.flyout_panes ol {
    text-align: left;
}

.flyout_panes ol li:hover {
    background-color: #9acd32;
    cursor: default;
}

.flyout_panes ol li:hover a {
    /*display:block;*/
    visibility: visible;
}

/*.flyout_container:hover, .flyout_container:hover * {*/
/*cursor: pointer;*/
/*}*/
/*div:hover, div:hover * {*/
/*cursor: pointer;*/
/*}*/

/*div:hover {*/
/*border-color: #999;*/
/*}*/
