/*----- ��Script�����֮��--------------------------------------------*/
/*----- ��Email��jiaruizhi@360buy.com��---------------------------*/

/*<div>*/
/*<span id="message"></span>*/
/*</div>*/
/*<div class="feedback">*/
/*<span>Run��</span>*/

/*<div id="result">*/
/*</div>*/
/*</div>*/

.status {
    margin: 15px 0px 15px 15px;
    position: relative;
    min-width: 315px;
    z-index: 2;
    display: none;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
}

/*ff9300*/
/*FFCC7E*/
.status span {
    color: #ff4500;
}

.status div span {
    margin: 0;
    display: block;
    color: #008000;
}

.status .feedback {
    margin: 15px 0px 10px 0px;
    display: none;
}

.status .feedback span {
    color: #A22E00;
}

.status .feedback div span {
    color: #000080;
}

.status #message {
    margin: 10px 0 4px 10px;
}

.status .feedback #result {
    margin: 10px 0 4px 10px;
}


