<!DOCTYPE html>
<html>
<head>
    <title> Research Analysis Techniques </title>
    <link href="/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/require.config.js"></script>

    <!--&lt;!&ndash;[if IE]>-->
    <!--<script type="text/javascript" src="/js/arbor/hermetic.js"></script>-->
    <!--<script type="text/javascript" src="/js/arbor/physics/worker.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <script type="text/javascript" src="/js/algorithms-analysis.js"></script>

</head>
<body>
<article>
    <section></section>
    <section></section>
</article>
</body>
</html>
