<!DOCTYPE html>
<html>
<head>
    <title> Research DEMO </title>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.message.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/oop.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/require.js"></script>
    <script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/require.config.js"></script>

    <!--&lt;!&ndash;[if IE]>-->
    <!--<script type="text/javascript" src="/js/arbor/hermetic.js"></script>-->
    <!--<script type="text/javascript" src="/js/arbor/physics/worker.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/algorithms-demo.js"></script>
    <style type="text/css">

        article {
            text-align: center;
            height: 98%;
            padding: 0;
            /*padding: 0px 140px 2px 200px;*/
            margin: 0px 140px 0px 200px;
        }
    </style>
</head>
<body>
<article>
    <canvas></canvas>
</article>
</body>
</html>
  