<!DOCTYPE html>
<html>
<head>
    <title> Research DEMO </title>
    <link href="/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
    <!--<script type="text/javascript" src="/js/jquery.1.4.4.min.js"></script>-->
    <!--<script src="/js/arbor/arbor.js"></script>-->
    <!--<script src="/js/arbor/arbor-graphics.js"></script>-->
    <script type="text/javascript" src="/js/arbor/etc.js"></script>
    <script type="text/javascript" src="/js/arbor/kernel.js"></script>
    <script type="text/javascript" src="/js/arbor/graphics/colors.js"></script>
    <script type="text/javascript" src="/js/arbor/graphics/primitives.js"></script>
    <script type="text/javascript" src="/js/arbor/graphics/graphics.js"></script>
    <script type="text/javascript" src="/js/arbor/tween/easing.js"></script>
    <script type="text/javascript" src="/js/arbor/tween/tween.js"></script>
    <script type="text/javascript" src="/js/arbor/physics/atoms.js"></script>
    <script type="text/javascript" src="/js/arbor/physics/barnes-hut.js"></script>
    <script type="text/javascript" src="/js/arbor/physics/physics.js"></script>
    <script type="text/javascript" src="/js/arbor/physics/system.js"></script>
    <script type="text/javascript" src="/js/arbor/dev.js"></script>

    <!--<script type="text/javascript" src="/js/arbor/hermetic.js"></script>-->
    <!--<script type="text/javascript" src="/js/arbor/physics/worker.js"></script>-->

    <script type="text/javascript" src="/js/research/arbor-renderer.js"></script>
    <script type="text/javascript" src="/js/math/math.sets.js"></script>
    <script type="text/javascript" src="/js/jquery.utils.min.js"></script>
    <script type="text/javascript" src="/js/naure.message.js"></script>
    <script type="text/javascript" src="/js/research/algorithms-demo.js"></script>

    <style>
        p {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>


<header></header>
<nav></nav>

<article>
    <section></section>
    <section>
        <canvas width="800" height="600"></canvas>
    </section>
</article>

<aside>
    <section class="overlay overlay-right">
        <section>
            <figure>
                <figcaption style="background-color: rgb(0, 119, 204);">
                    <input title="Show/Hide Graph" CHECKED="checked" type="checkbox">
                </figcaption>
                <span class="matheditor mathquill-rendered-math mathquill-editable"></span>
                <span class="delete"></span>
                <aside style="display: none;"></aside>
            </figure>
        </section>

        <section class="buttons">
            <input type="button" title="Clean" onclick="$.message.empty();"/>
            <input style="display: none;" title="Reset Graph" type="button">
            <a class="help_button" title="Help Page" href="about/" target="_blank">&nbsp;</a>
        </section>

    </section>
</aside>


<footer></footer>

<section>

</section>

</body>
</html>
  