<!DOCTYPE html>
<html>
<head>
    <title></title>
    <title> math  </title>
    <link href="/css/mathquill.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/require.config.js"></script>
    <script type="text/javascript" src="/js/algorithms-math-view.js"></script>
</head>
<body>
<article>
    <section>
        <canvas></canvas>
    </section>
</article>
</body>
</html>