<!DOCTYPE html>
<html>
<title> Research DEMO </title>
<link href="/Research/projects/naure/naure-web/src/main/webapp/css/left-right.css" rel="stylesheet" type="text/css"/>
<link href="/Research/projects/naure/naure-web/src/main/webapp/css/mathquill.css" rel="stylesheet" type="text/css"/>
<link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
<link href="/Research/projects/naure/naure-web/src/main/webapp/css/naure.message.css" rel="stylesheet" type="text/css"/>

<style type="text/css">
    article section:first-child {
        background: silver;
    }
    article section:last-child {
        text-align: center;
        vertical-align: middle;
    }
</style>

<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/oop.js"></script>

<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/jquery.min.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/jquery.utils.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/ajaxslt.js"></script>

<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.init.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.utility.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.ui.templet.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.message.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.overlay.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-web/src/main/webapp/js/naure.xsl.js"></script>

<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/etc.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/kernel.js"></script>

<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/graphics/colors.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/graphics/primitives.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/graphics/graphics.js"></script>

<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/physics/atoms.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/physics/system.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/physics/barnes-hut.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/physics/physics.js"></script>

<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/dev.js"></script>
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor/parseur.js"></script>

<!--<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor-coordinate.js"></script>-->
<script type="text/javascript" src="/Research/projects/naure/naure-research/src/main/webapp/js/arbor-renderer.js"></script>

<script type="text/javascript"
        src="/Research/projects/naure/naure-research/src/main/webapp/js/algorithms-view.js"></script>

</head>
<body>

<article>
    <section></section>
    <section>
        <canvas></canvas>
    </section>
</article>

</body>
</html>