<!DOCTYPE html>
<html>
<head>
    <title> Error Page </title>
    <link href="/css/mathquill.css" rel="stylesheet" type="text/css"/>

    <link href="/css/naure.overlay.css" rel="stylesheet" type="text/css"/>
    <link href="/css/naure.message.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/oop.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.utils.js"></script>

    <script type="text/javascript" src="/js/naure.init.js"></script>
    <script type="text/javascript" src="/js/naure.ui.templet.js"></script>
    <script type="text/javascript" src="/js/naure.utility.js"></script>
    <script type="text/javascript" src="/js/naure.message.js"></script>
    <script type="text/javascript" src="/js/naure.overlay.js"></script>
    <script type="text/javascript" src="/js/naure.xsl.js"></script>

    <script type="text/javascript">
        $(function () {
            $('body').naure_ui_templet({name: 'overlay', success: function() {
                $('article section:eq(0)').message({placement:'append'});
                NAURE.Message.show({content:'404', color:'red'});
            }});
        });
    </script>

</head>
<body></body>
</html>
