$!{extends("/layout.html")}

#macro(title)itody.org Research#end

#macro(content)


<div class="row">

    <form role="form">
        <!--查询条件-->
        <div class="col-md-3">

            <div class="input-group input-group-sm">
                <label class="input-group-addon" for="stock_code">Code</label>
                <input type="text" class="form-control" id="stock_code" placeholder="Code">
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-group input-group-sm">
                <label class="input-group-addon" for="stock_start_date">Quotes Start Date</label>
                <input type="date" class="form-control" id="stock_start_date" placeholder="Start">
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-group input-group-sm">
                <label class="input-group-addon" for="stock_end_date">Quotes End Date</label>
                <input type="date" class="form-control" id="stock_end_date" placeholder="End">
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <div class="input-group input-group-sm">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" id="search">Search</button>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="row">

    <!--图形或列表-->
    <div class="col-md-12">
        <div id="chart" style="height:500px;"></div>
    </div>

</div>

<div class="row">

    <!--信息区域-->
    <div class="col-md-12">
    </div>

</div>

<script type="text/javascript" src="/js/research/finance-stock-view.js"></script>

#end

