<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=false;"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Online graph sketching app that can graph functions and numerically solve differential equations. Requires Javascript HTML 5."/>
    <title>graph.tk</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
    <link rel="apple-touch-startup-image" href="apple-touch-startup-image.png"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/mathquill.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<h3>
    <noscript>Please enable javascript!<br/><a href="http://graph.tk/about">More info</a></noscript>
</h3>
<script type="text/javascript">
    document.body.firstChild.appendChild(document.createTextNode("Loading..."));
</script>
<script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/js/excanvas.compiled.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/mathquill.js"></script>
<script type="text/javascript" src="/js/math/math.js"></script>
<script type="text/javascript" src="/js/ui.js"></script>
<script type="text/javascript" src="/js/graphics/graph.main.js"></script>
</body>
</html>