$!{extends("/layout.html")}

#macro(title) Learning Schedule #end

#macro(css)
<link rel="stylesheet" type="text/css" href="/js/core/uploadify/uploadify.css"/>
<style type="text/css">

    article {
        padding: 8px;
    }

    article section:first-child {
        height: 40px;
    }

    article section:first-child + section a {
        margin: 0px 30px 0px 0px;
        cursor: pointer;
        text-decoration: none;
    }

    article section:first-child + section a:link, a:visited {
        text-decoration: none;
    }

    article section:first-child + section a:hover {
        color: red;
        text-decoration: none;
    }

    canvas {
        width: 600px;
        height: 15px;
        padding: 0px;
        vertical-align: middle;
        /*position: absolute;*/
    }
</style>
#end

#macro(content)

<div class="row">
    <div class="col-md-12">
        <article>
            <section style="display: block;">
                <input type="file" id="fileupload"/>
            </section>
            <section style="display: none;">
                <a id="uploadfile">上传文件</a>
                <a id="handle" style="display: none;">处理文件</a>
            </section>
            <section></section>
            <section></section>
        </article>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="get">Get</button>
            <button type="button" class="btn btn-default" id="upload">Upload</button>
        </div>
    </div>
</nav>

#end

#macro(js)
<script type="text/javascript" src="/js/research/learn-schedule-view.js"></script>
#end

