$!{extends("/layout.html")}

#macro(title)Naure.org Research#end

#macro(content)


<div class="row">

    <!--左边是图形或列表-->
    <div class="col-md-10">

    </div>

    <!--右边是查询条件-->
    <div class="col-md-2">

        <form role="form">
            <div class="form-group form-group-sm">
                <label for="stock_code">Code</label>
                <input type="text" class="form-control" id="stock_code" placeholder="Code">
            </div>
            <div class="form-group form-group-sm">
                <label for="stock_start_date">Quotes Start Date</label>
                <input type="date" class="form-control" id="stock_start_date" placeholder="Start">
            </div>
            <div class="form-group form-group-sm">
                <label for="stock_end_date">Quotes End Date</label>
                <input type="date" class="form-control" id="stock_end_date" placeholder="End">
            </div>
            <br/>

            <div class="btn-group btn-group-justified">
                <button type="button" class="btn btn-default btn-group-sm" id="search">Search</button>
            </div>
        </form>

    </div>

</div>

<script type="text/javascript" src="/js/research/finance-stock-view.js"></script>

#end

